
body {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif; 
}

.title {
    font-size: 35px;
}

.big-title {
    font-size: 70px;
}

p {
    display: inline-block;
    font-size: 20px;
}

img:not(.final-image) {
    height: 150px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 1%;
}
